{{ if .Site.Data.homepage.showcase.enable }}
<section class="rad-showcase rad-showcase--index rad-animation-group rad-fade-down">
  <div class="rad-showcase__bg">
    <img
      class="lozad img-responsive"
      src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
      data-src="{{ .Site.Data.homepage.showcase.image.x | absURL }}"
      data-srcset="{{ .Site.Data.homepage.showcase.image.x | absURL }} 1x, {{ .Site.Data.homepage.showcase.image._2x | absURL }} 2x"
      alt="{{ .Site.Data.homepage.showcase.image.alt }}"
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6">
        <h1 class="display-1">
          {{ .Site.Data.homepage.showcase.title }}
          <br />
          <span>{{ .Site.Data.homepage.showcase.subtitle }}</span>
        </h1>
        <p class="lead">
          {{ .Site.Data.homepage.showcase.description | safeHTML }}
        </p>
        <a
          href="{{ .Site.Data.homepage.showcase.button.URL | absURL }}"
          class="btn btn-primary"
        >
          <i class="{{ .Site.Data.homepage.showcase.button.icon }}"></i>
          {{ .Site.Data.homepage.showcase.button.btnText }}
        </a>
      </div>
    </div>
    <div class="row platform-links">
      <div class="col-12">
        {{ range .Site.Data.homepage.showcase.socialLinks }}
        <a href="{{ .URL | absURL }}" target="_blank">
          {{- if eq .icon "spotify" -}}
          <svg class="custom-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M 7.5 9.5 A 7 7 0 0 1 16.5 9.5"></path>
            <path d="M 8.5 12.5 A 5.5 5.5 0 0 1 15.5 12.5"></path>
            <path d="M 9.5 15.5 A 4 4 0 0 1 14.5 15.5"></path>
          </svg>
          {{- else if eq .icon "goodreads" -}}
          <svg class="custom-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <rect x="3" y="3" width="18" height="18" rx="4"></rect>
            <circle cx="12" cy="10" r="2.5"></circle>
            <path d="M14.5 10v3.5a2.5 2.5 0 0 1-5 0"></path>
          </svg>
          {{- else -}}
          <i class="icon-{{ .icon }}-line"></i>
          {{- end -}}
        </a>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="rad-showcase__bg rad-showcase__bg--mobile">
    <img
      class="lozad img-responsive"
      src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
      data-src="{{ .Site.Data.homepage.showcase.imageMobile.x | absURL }}"
      alt="{{ .Site.Data.homepage.showcase.imageMobile.alt }}"
    />
  </div>
</section>
{{ end }}
